backports.weakref==1.0rc1
bleach==1.5.0
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
Django==1.11.4
django-cors-headers==2.1.0
django-rest-framework==0.1.0
djangorestframework==3.6.4
funcsigs==1.0.2
functools32==3.2.3.post2
h5py==2.7.1
html5lib==0.9999999
idna==2.6
k==0.0.1
Keras==2.0.8
Markdown==2.6.9
matplotlib==2.0.2
mock==2.0.0
numpy==1.13.1
olefile==0.44
pbr==3.1.1
Pillow==4.2.1